# configuration file for lightsimulator process
# Format for a simulation =
#	<Scenario Reference>;<"ON" date/time>;<"ON" Event Message>;<"OFF" date/time>;<"OFF" Event Message>;<Queue Name Reference>
# date/time format should be in the format "day(s) hh:mm". Note that the date and time values need to be separated by a white space)
# the day(s) can have following values:
#	* => every day
#   Monday
#   Tuesday
#	Wednesday
#	Thursday
#	Friday
#	Saturday
#	Sunday
# Multiple days can be set by separating them with a comma.
# Examples:
#	Send event message on Tuesday at 17:55   =>  "Tuesday 17:55"
#   Send event message every dat at 08:00    =>  "* 08:00"
#   Send event message on Monday and Wednesday at noon   =>  "Monday,Wednesday 12:00"
#
# Format of the event message is "RPI_LIGHTSIMULATOR_<Output reference>_<PI reference>_<action>"
#    where <action> is "ON" or "OFF"
#    <Output reference> is the keyword used in the configuration file (for example Light01 or Dimmer02)
#    <Pi Reference> is PI1, PI2 or PI3 for production and TST2 for test
#
[RPI_LIGHTSIMULATOR_TSTMGMT]
ConsumerQueue1=IQ_RPI_OUTPUTRELAY_TST2
ConsumerQueue2=IQ_RPI_OUTPUTLIGHTS_TST2
ConsumerQueue3=IQ_RPI_OUTPUTDIMMER_TST2
Simulation00=Vakantie;* 19:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:05;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation01=Vakantie;* 19:05;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 19:10;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation02=Vakantie;* 19:07;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation03=Vakantie;* 19:20;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 19:24;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation04=Vakantie;* 19:25;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:30;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation05=Vakantie;* 19:30;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 19:33;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation06=Vakantie;* 19:35;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:38;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation07=Vakantie;Monday,Tuesday 09:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;Monday,Tuesday 09:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation08=Vakantie;* 19:41;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 19:42;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation09=Vakantie;* 19:46;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:49;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation10=Vakantie;* 19:51;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 19:52;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation11=Vakantie;* 19:55;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 19:59;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation12=Vakantie;* 20:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:05;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation13=Vakantie;* 20:05;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 20:10;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation14=Vakantie;* 20:07;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation15=Vakantie;* 20:20;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 20:24;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation16=Vakantie;* 20:25;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:30;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation17=Vakantie;* 20:30;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 20:33;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation18=Vakantie;* 20:35;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:38;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation19=Vakantie;* 20:37;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:40;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation20=Vakantie;* 20:41;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 20:42;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation21=Vakantie;* 20:46;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:49;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation22=Vakantie;* 20:51;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 20:52;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation23=Vakantie;* 20:55;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 20:59;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation24=Vakantie;* 21:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:05;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation25=Vakantie;* 21:05;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 21:10;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation26=Vakantie;* 21:07;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation27=Vakantie;* 21:20;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 21:24;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation28=Vakantie;* 21:25;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:30;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation29=Vakantie;* 21:30;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 21:33;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation30=Vakantie;* 21:35;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:38;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation31=Vakantie;* 21:37;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:40;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation32=Vakantie;* 21:41;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 21:42;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation33=Vakantie;* 21:46;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:49;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation34=Vakantie;* 21:51;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 21:52;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation35=Vakantie;* 21:55;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 21:59;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation36=Vakantie;* 22:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:05;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation37=Vakantie;* 22:05;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 22:10;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation38=Vakantie;* 22:07;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation39=Vakantie;* 22:20;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 22:24;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation40=Vakantie;* 22:25;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:30;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation41=Vakantie;* 22:30;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 22:33;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation42=Vakantie;* 22:35;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:38;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation43=Vakantie;* 22:37;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:40;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation44=Vakantie;* 22:41;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 22:42;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation45=Vakantie;* 22:46;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:49;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation46=Vakantie;* 22:51;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 22:52;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation47=Vakantie;* 22:55;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 22:59;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation48=Vakantie;* 23:00;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:05;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation49=Vakantie;* 23:05;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 23:10;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation50=Vakantie;* 23:07;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:15;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation51=Vakantie;* 23:20;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 23:24;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation52=Vakantie;* 23:25;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:30;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation53=Vakantie;* 23:30;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 23:33;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation54=Vakantie;* 23:35;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:38;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation55=Vakantie;* 23:37;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:40;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation56=Vakantie;* 23:41;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 23:42;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation57=Vakantie;* 23:46;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:49;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2
Simulation58=Vakantie;* 23:51;RPI_LIGHTSIMULATOR_LIGHT03_TST2_ON;* 23:52;RPI_LIGHTSIMULATOR_LIGHT03_TST2_OFF;ConsumerQueue2
Simulation59=Vakantie;* 23:55;RPI_LIGHTSIMULATOR_LIGHT02_TST2_ON;* 23:59;RPI_LIGHTSIMULATOR_LIGHT02_TST2_OFF;ConsumerQueue2