# configuration file for outputlights process
# please note that outputlights 0 and 1 are shared with Relay 0 and 1
# on each piface board. Make sure they are only configured/used once!
[RPI_OUTPUTLIGHTS_PI2]
Light00=(0,0);Not Used;
Light01=(0,1);Not Used;
Light02=(0,2);Not Used;
Light03=(0,3);Not Used;
Light04=(0,4);Not Used;
Light05=(0,5);Not Used;
Light06=(0,6);Not Used;
Light07=(0,7);Licht slaapkamer ouders (L14.2);RPI_INPUTBUTTON_PI1_0_0_PRESSED|TOGGLE,RPI_INPUTBUTTON_PI1_3_7_PRESSED|TOGGLE
Light10=(1,0);Not Used;
Light11=(1,1);Not Used;
Light12=(1,2);Not Used;
Light13=(1,3);Not Used;
Light14=(1,4);Not Used;
Light15=(1,5);Not Used;
Light16=(1,6);Not Used;
Light17=(1,7);Not Used;
Light20=(2,0);Not Used;
Light21=(2,1);Not Used;
Light22=(2,2);Not Used;
Light23=(2,3);Not Used;
Light24=(2,4);Not Used;
Light25=(2,5);Not Used;
Light26=(2,6);Not Used;
Light27=(2,7);Not Used;
Light30=(3,0);Not Used;
Light31=(3,1);Not Used;
Light32=(3,2);Not Used;
Light33=(3,3);Not Used;
Light34=(3,4);Not Used;
Light35=(3,5);Licht slaapkamer Sophie (L13.3);RPI_INPUTBUTTON_PI2_0_7_PRESSED|TOGGLE,RPI_INPUTBUTTON_PI2_1_2_PRESSED|TOGGLE,RPI_INPUTBUTTON_PI3_1_7_PRESSED|TOGGLE,RPI_INPUTBUTTON_PI3_2_4_PRESSED|TOGGLE
Light36=(3,6);Not Used;
Light37=(3,7);Not Used;